<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="the lazy author has not description on this website.">
  <meta name="author" content="Garen Wang">

  <link rel="stylesheet" href="/blog/css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <script async="" src="/blog/js/main.js"></script>
  <title>Homepage</title>
</head>

<body>
  <div class="container content">
    <header class="masthead">
      <div style="position:relative">
        <h2 class="masthead-title">
          <a href="/" title="Home">Garen Wang's Blog</a>
        </h2>
      </div>
    </header>

    <div>
      <main>
          <div class="posts">
            <div>
              <h2 class="post-title">
                <a href="/blog/以Rust为例浅谈内存管理的小知识">以Rust为例浅谈内存管理的小知识</a>
              </h2>
              <div class="post-summary">
                <p>first sentence</p>
                <p>second sentence</p>
                <a class="read-more" href="/blog/以Rust为例浅谈内存管理的小知识"><em>read-more</em></a>
              </div>
            </div>

            <div>
              <h2 class="post-title">
                <a href="/blog/以Rust为例浅谈内存管理的小知识">以Rust为例浅谈内存管理的小知识</a>
              </h2>
              <div class="post-summary">
                <p>first sentence</p>
                <p>second sentence</p>
                <a class="read-more" href="/blog/以Rust为例浅谈内存管理的小知识"><em>read-more</em></a>
              </div>
            </div>
          </div>

          <div class="posts">
            <div>
              <h2 class="post-title">
                <a href="/blog/以Rust为例浅谈内存管理的小知识">以Rust为例浅谈内存管理的小知识</a>
              </h2>
              <div class="post-summary">
                <p>first sentence</p>
                <p>second sentence</p>
                <a class="read-more" href="/blog/以Rust为例浅谈内存管理的小知识"><em>read-more</em></a>
              </div>
            </div>

            <div>
              <h2 class="post-title">
                <a href="/blog/以Rust为例浅谈内存管理的小知识">以Rust为例浅谈内存管理的小知识</a>
              </h2>
              <div class="post-summary">
                <p>first sentence</p>
                <p>second sentence</p>
                <a class="read-more" href="/blog/以Rust为例浅谈内存管理的小知识"><em>read-more</em></a>
              </div>
            </div>
          </div>
      </main>
    </div>

    <div>
      <aside class="page-aside-right">

      </aside>
    </div>

    <footer class="footer">
      <hr>
      <small>
        &copy; <time datetime="2022">2022</time>. All rights reserved.
      </small>
    </footer>
  </div>

</body>

